Package: com.idkjoel.pluto
Name: pluto
Depends: winterboard
Version: 1.0
Architecture: iphoneos-arm
Description: a simple, flat, and dark theme
Maintainer: joel johnson <joel.schellenberger@gmail.com>
Author: joel johnson <joel.schellenberger@gmail.com>
Icon: file://Applications/Cydia.app/pluto.png
Section: pluto
