Package: com.idkjoel.plutOS
Name: plutOS
Version: 1.0
Architecture: iphoneos-arm
Description: a simple, flat, and dark theme
Maintainer: joel <joel@idkjoel.co>
Author: joel <joel@idkjoel.co>
Depiction: https://idkjoel.github.io/depictions/com.idkjoel.plutOS
Icon: file://Applications/Cydia.app/pluto.png
Section: pluto
