Package: com.idkjoel.plutOS
Name: plutOS
Version: 1.0
Architecture: iphoneos-arm
Description: a simple, flat, and dark theme
Depiction: https://idkjoel.github.io/depictions/com.idkjoel.plutOS/splash.html
Maintainer: joel <joel@idkjoel.co>
Author: joel <joel@idkjoel.co>
Icon: file://Applications/Cydia.app/Sections/icon_packages.png
Section: Themes
