Package: com.idkjoel.tumble
Name: tumble
Depends: winterboard
Version: 1.6.1
Architecture: iphoneos-arm
Description: tumble is a new, flat icon theme for iOS
Maintainer: joel johnson <joel.schellenberger@gmail.com>
Author: joel johnson <joel.schellenberger@gmail.com>
Section: Themes
