Package: com.idkjoel.acai
Name: acai
Depends: winterboard
Version: 0.7.1
Architecture: iphoneos-arm
Description: In this version: Potentially fixed icon mask issues?
Maintainer: joel johnson <joel.schellenberger@gmail.com>
Author: joel johnson <joel.schellenberger@gmail.com>
Section: Themes
