Package: com.idkjoel.acai
Name: acai
Depends: winterboard
Version: 0.6.9-1
Architecture: iphoneos-arm
Description: In this version: Testing for IconBundles.
Maintainer: joel johnson <joel.schellenberger@gmail.com>
Author: joel johnson <joel.schellenberger@gmail.com>
Section: Themes
