Package: com.idkjoel.acai
Name: acai
Depends: winterboard
Version: 0.7
Architecture: iphoneos-arm
Description: In this version: New icons. I still have yet to fix the issues with the iconmask, but I'll get that done as soon as I can.
Maintainer: joel johnson <joel.schellenberger@gmail.com>
Author: joel johnson <joel.schellenberger@gmail.com>
Section: Themes
