Package: com.idkjoel.starwars
Name: star wars bundle
Depends: winterboard
Version: 2.0
Architecture: iphoneos-arm
Description: star wars inspired customization options
Maintainer: joel johnson <joel.schellenberger@gmail.com>
Author: joel johnson <joel.schellenberger@gmail.com>
Section: Themes
