Package: com.idkjoel.jOS
Name: jOS
Version: 1.8
Architecture: iphoneos-arm
Description: customization pack for myself for testing and stuff
Maintainer: joel <joel@idkjoel.co>
Author: joel <joel@idkjoel.co>
Depiction: https://idkjoel.github.io/depictions/com.idkjoel.jOS
Icon: file://Applications/Cydia.app/jOS.png
Section: jOS
