Package: com.idkjoel.tesOS
Name: tesOS
Version: 1.2.9
Architecture: iphoneos-arm
Description: setup for installation of repo
Maintainer: joel <joel@idkjoel.co>
Author: joel <joel@idkjoel.co>
Depiction: https://idkjoel.github.io/depictions/com.idkjoel.tesOS
Section: tesOS
Essential: Yes
