Package: com.idkjoel.herOS
Name: herOS
Version: 1.0
Architecture: iphoneos-arm
Description: resources directly from / inspired by the movie her
Maintainer: joel <joel@idkjoel.co>
Author: joel <joel@idkjoel.co>
Depiction: https://idkjoel.github.io/depictions/com.idkjoel.herOS
Icon: file://Applications/Cydia.app/herOS.png
Section: herOS
