Package: com.idkjoel.eMinor
Name: eMinor
Depends: winterboard
Version: 0.2.5
Architecture: iphoneos-arm
Description: eMinor is a super fun and friendly complete ui theme
Maintainer: joel johnson <joel.schellenberger@gmail.com>
Author: joel johnson <joel.schellenberger@gmail.com>
Depiction: https://idkjoel.github.io/depictions/com.idkjoel.eMinor
Icon: file://Applications/Cydia.app/eMinor.png
Section: eMinor
