Package: com.idkjoel.storm
Name: Storm
Depends: winterboard
Version: 0.1
Architecture: iphoneos-arm
Description: storm is a stupid name for a theme with bright colours on dark backgrounds but i couldn't think of anything else on the spot.
Maintainer: joel <joel.schellenberger@gmail.com>
Author: joel <joel.schellenberger@gmail.com>
Section: Themes
