Package: com.idkjoel.storm
Name: Storm
Depends: winterboard
Version: 0.1.1
Architecture: iphoneos-arm
Description: still in early testing, storm is an icon theme applied through winterboard.
Maintainer: joel johnson <joel.schellenberger@gmail.com>
Author: joel johnson <joel.schellenberger@gmail.com>
Section: Themes
