Package: com.idkjoel.acOS
Name: acOS
Version: 1.1.1
Architecture: iphoneos-arm
Description: Flat, fun theme including icon and UI tweaks.
Depiction: http://idkjoel.github.io/depictions/com.idkjoel.acOS/splash.html
Maintainer: joel <joel@idkjoel.co>
Author: joel <joel@idkjoel.co>
Icon: file://Applications/Cydia.app/Sections/icon_packages.png
Section: Themes
