Package: com.idkjoel.pluto
Name: pluto
Depends: winterboard
Version: 0.6.5-7
Architecture: iphoneos-arm
Description: initial beta release of pluto, an icon theme
Maintainer: joel johnson <joel.schellenberger@gmail.com>
Author: joel johnson <joel.schellenberger@gmail.com>
Section: Themes
