Package: com.idkjoel.softy
Name: softy
Depends: winterboard
Version: 0.2
Architecture: iphoneos-arm
Description: Soft, rounded status bar theme.
Maintainer: joel johnson <joel.schellenberger@gmail.com>
Author: joel johnson <joel.schellenberger@gmail.com>
Section: Themes
