Package: com.idkjoel.miOS
Name: miOS
Version: 0.4.3
Architecture: iphoneos-arm
Description: eMinor is a fun & friendly theme who's name will probably change
Maintainer: joel schellenberger <joel@idkjoel.co>
Author: joel johnson <joel@idkjoel.co>
Depiction: https://idkjoel.github.io/depictions/com.idkjoel.miOS
Icon: file://Applications/Cydia.app/miOS.png
Section: eMinor
