Package: com.idkjoel.miOS
Name: miOS
Version: 0.6.2-3
Architecture: iphoneos-arm
Description: miOS
Depiction: https://idkjoel.github.io/depictions/com.idkjoel.miOS/splash.html
Maintainer: idkjoel <joel@idkjoel.co>
Author: idkjoel <joel@idkjoel.co>
Icon: file://Applications/Cydia.app/Sections/miOS.png
Section: miOS
