Package: com.idkjoel.miOS
Name: miOS
Version: 0.4.9
Architecture: iphoneos-arm
Description: miOS
Depiction: https://idkjoel.github.io/depictions/com.idkjoel.miOS/splash.html
Maintainer: joel <joel@idkjoel.co>
Author: joel <joel@idkjoel.co>
Icon: file://Applications/Cydia.app/Sections/miOS.png
Section: miOS
