Package: com.idkjoel.boOS
Name: boOS
Version: 1.0
Architecture: iphoneos-arm
Description: the colourful loader from macOS el capitan: ported to iOS.
Depiction: https://idkjoel.github.io/depictions/com.idkjoel.boOS/splash.html
Maintainer: joel <joel@idkjoel.co>
Author: joel <joel@idkjoel.co>
Icon: file://Applications/Cydia.app/Sections/boOS.png
Section: boOS
